{
	"trailingComma": "none",
	"useTabs": true,
	"printWidth": 160,
	"tabWidth": 2,
	"overrides": [
		{
			"files": "*.{yaml,yml}",
			"options": { "useTabs": false, "tabWidth": 2, "singleQuote": false }
		},
		{
			"files": "*.{prettierrc, json}",
			"options": {
				"parser": "json",
				"printWidth": 80,
				"tabWidth": 2,
				"useTabs": true,
				"singleQuote": false
			}
		},
		{
			"files": "*.xml",
			"options": {
				"parser": "xml",
				"useTabs": true,
				"singleQuote": false,
				"xmlSelfClosingSpace": true
			}
		},
		{
			"files": ["**/pmd/*.xml", "*ruleset*.xml", "config/**/*.xml"],
			"options": {
				"parser": "xml",
				"xmlSelfClosingSpace": true,
				"xmlWhitespaceSensitivity": "ignore"
			}
		},
		{
			"files": "*.json5",
			"options": { "quote-props": "consistent", "parser": "jsonc" }
		}
	],
	"plugins": ["@prettier/plugin-xml"],
	"$schema": "https://json.schemastore.org/prettierrc"
}
